<!DOCTYPE HTML>
<html>
<head>
    <title>Password Generator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Password Generator</h1>
<p>Alphabet: abcdefghijklmnopqrstuvwxyz</p>
<p>Digits: 0123456789</p>
<p>Special characters: !@#&()–[{}]:;',?/*~$^+=&lt&gt</p>

<p>Create a policy: </p>
<p>Length must be between 8 and 128</p>
<p>Number of digits</p>
<p>Number of lowercase characters</p>
<p>Number of uppercase characters</p>
<p>Number of special characters</p>

<p><strong>Random password:</strong></p>
<p><span th:text="${password}"></span></p>
</body>
</html>
