<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2>Random Password</h2>
            <div class="my-3">
                <p><strong>Length:</strong> <span th:text="${generator.length}"></span></p>
                <p><strong>Uppercase:</strong> <span th:text="${generator.uppercase}"></span></p>
                <p><strong>Digits:</strong> <span th:text="${generator.digit}"></span></p>
                <p><strong>Special Characters:</strong> <span th:text="${generator.specialChar}"></span></p>
                <p><strong>Random Password:</strong> <pre><span id="fancy-password" th:text="${generator.password}"></span></pre></p>
            </div>
            <a th:href="@{/password}">New Password</a>
        </div>
    </div>
</div>

</body>
</html>
